@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Cores padrão (Exemplo: Azul SUS). 
     O nosso ThemeProvider vai alterar isto via JavaScript quando a UBS fizer login! */
  --color-primary: #0284c7;   
  --color-secondary: #0369a1; 
  --color-accent: #f59e0b;    
}

body {
  background-color: theme('colors.background');
  color: theme('colors.textMain');
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}